body {
    width: 100%;
}

.bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../images/front-right-side-blue-sedan-car.jpg");
}

.formulario {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 50%;
}

.alturaImg {
    height: 200px;
    object-fit: cover;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
}

.bg-user{
    background-color: rgb(235, 235, 235);
}

.img-perfil{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}